li {
    list-style-type: none;
    word-wrap: break-word;
}

span {
    line-height: 1.5;
}

.list-item {
    border: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.list-item-label {
    margin-top: 1px;
}

.item-status-button {
    margin-top: 0;
    margin-right: 16px;
}

.btn {
    background-color: transparent;
    outline: none !important;
    padding: 0;
}

.btn:focus, .btn:active {    
    outline: none !important;
}

.text-italic {
    font-style: italic;
}