.item-add-form {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.add-task-icon {
    margin-right: 6px;
    margin-left: 1px;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
}

.task-input {
    width: 274px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #DFDFDF;
    margin-top: 14px;
    margin-bottom: 5px;
    padding: 7px;
}

.task-input:focus, .task-input:active {
    outline: 0;
}