* {
    font: 15px arial, sans-serif;
}

.material-icons {
    font-size: 24px;
}

.app {
    width: 338px;
    min-height: 390px;
    border: 1px solid #DFDFDF;
}

.content {
    padding-left: 13px;
    padding-top: 20px;
    position: relative;
    min-height: 345px;
}