.header {
    background-color: #F5F5F5;
    height: 57px;
    width: 100%;
    font: 15px arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 15px;
    margin: 19px 19px;
}