.header {
    background-color: #F5F5F5;
    height: 38px;
    width: 100%;
    font: 15px arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 12px;
}