.add-panel {
    width: 100%;
}

.add-task {
    margin-left: 4,5px;
    margin-right: 10px;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
}

.task-to-add {
    width: 411px;
    height: 52px;
    border-radius: 9px;
    border: 2px solid #DFDFDF;
}